@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Viborg Kommunes borgerside</h1>
    <p>Her kan du indsende tips, udfylde formularer, osv. </p>
</div>
