@model BorgerSide.Models.OlietankFormular

@{
    ViewData["Title"] = "Create";
}

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Sløjfning af olietank under 6000 liter.</h2>
			<hr />
		</div>
		<div class="row">

		</div>
		<div class="row">
			<div class="col-md-6 md-3">
				<label asp-for="Ejer">Ejer du olietanken?</label>
				<select asp-for="Ejer" class="form-control">
					<option value="">Vælg</option>
					<option value="Ja">Ja</option>
					<option value="Nej">Nej</option>
				</select>
				<span asp-validation-for="Ejer" class="text-danger"></span>
			</div>
			<div class="col-md-6 md-3">	
				<label asp-for="Navn">Ejers navn</label>
				<input asp-for="Navn" class="form-control" />
				<span asp-validation-for="Navn" class="text-danger"></span>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-6 md-3">
				<label asp-for="Adresse">Olietankens adresse</label>
				<input asp-for="Adresse" class="form-control" />
				<span asp-validation-for="Adresse" class="text-danger"></span>
			</div>
			<div class="col-md-6 md-3">
				<label asp-for="Telefonnummer">Ejers telefonnummer</label>
				<input asp-for="Telefonnummer" class="form-control" />
				<span asp-validation-for="Telefonnummer" class="text-danger"></span>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-6 md-3">
				<label asp-for="Registreringsnummer">Registreringsnummer (TEK1, TEK2 mm.)</label>
				<input asp-for="Registreringsnummer" class="form-control" />
				<span asp-validation-for="Registreringsnummer" class="text-danger"></span>
			</div>
			<div class="col-md-6 md-3">
				<label asp-for="Typegodkendelsesnummer"></label>
				<input asp-for="Typegodkendelsesnummer" class="form-control" />
				<span asp-validation-for="Typegodkendelsesnummer" class="text-danger"></span>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-6 md-3">
				<label asp-for="Fabrikationsår"></label>
				<input asp-for="Fabrikationsår" class="form-control" />
				<span asp-validation-for="Fabrikationsår" class="text-danger"></span>
			</div>
			<div class="col-md-6 md-3">
				<label asp-for="Størrelse">Størrelse (angives i liter)</label>
				<input asp-for="Størrelse" class="form-control" />
				<span asp-validation-for="Størrelse" class="text-danger"></span>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-6 md-3">
				<label asp-for="Prægeplade">Upload prægeplade</label>
				<input asp-for="Prægeplade" class="form-control" />
				<label for="pdfUpload">Upload .pdf file</label>
				<input type="file" id="pdfUpload" name="pdfFile" accept=".pdf" />
				<span asp-validation-for="Prægeplade" class="text-danger"></span>
			</div>
			<div class="col-md-6 md-3">
				<label asp-for="Sløjfningsdato">Sløjfningsdato (dd-mm-åå)</label>
				<input asp-for="Sløjfningsdato" class="form-control" />
				<span asp-validation-for="Sløjfningsdato" class="text-danger"></span>
			</div>	
		</div>
		<div class="col-md-6 md-3">
			<label asp-for="Sløjfningsmetode">Hvordan sløjfes tanken? </label>
			<select asp-for="Sløjfningsmetode" class="form-control">
				<option value="">Vælg</option>
				<option value="Tanken fjernes">Tanken fjernes</option>
				<option value="Tanken afblændes">Tanken afblændes</option>
			</select>
			<span asp-validation-for="Sløjfningsmetode" class="text-danger"></span>
		</div>	
		<div class="col-md-6 md-3">
			<label asp-for="Forurening">Er der konstateret forurening i forbindelse med opgravning af tank?</label>
			<select asp-for="Forurening" class="form-control">
				<option value="">Vælg</option> 
				<option value="Ja">Ja</option> 
				<option value="Nej">Nej</option> 
			</select>
			<span asp-validation-for="Forurening" class="text-danger"></span>
		</div>	
		<br />
		<button type="submit" class="btn btn-primary" style="width:150px">Send</button>
		<a asp-controller="OlietankFormulars" asp-action="" class="btn btn-secondary" style="width:150px">
			Tilbage
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	
}
