@model BorgerSide.Models.OlietankFormular

@{
    ViewData["Title"] = "Delete";
}
&nbsp;
<h2>Ønsker du at slette?</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            &nbsp;
            <div class="form-group">
                <input type="submit" value="Slet formular" class="btn btn-primary" />
                <a asp-controller="OlietankFormulars" asp-action="" class="btn btn-secondary" style="width:150px">
                    Gå tilbage
                </a>
            </div>
        </form>
    </div>
</div>
&nbsp;


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
